-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: flytau
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `address`
--

DROP TABLE IF EXISTS `address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `address` (
  `ID` varchar(20) NOT NULL,
  `City` varchar(50) NOT NULL,
  `Street` varchar(50) NOT NULL,
  `House_num` int NOT NULL,
  PRIMARY KEY (`ID`),
  CONSTRAINT `address_ibfk_1` FOREIGN KEY (`ID`) REFERENCES `employee` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `air_craft`
--

DROP TABLE IF EXISTS `air_craft`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `air_craft` (
  `Air_Craft_ID` varchar(20) NOT NULL,
  `Purchase_Date` date NOT NULL,
  `Manufacturer` enum('Dassault','Boeing','Airbus') NOT NULL,
  `Size` enum('Large','Small') NOT NULL,
  PRIMARY KEY (`Air_Craft_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `aircraft_class`
--

DROP TABLE IF EXISTS `aircraft_class`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aircraft_class` (
  `Air_Craft_ID` varchar(20) NOT NULL,
  `Class` enum('Economy','Business') NOT NULL,
  `Row_Num` int NOT NULL,
  `Col_Num` int NOT NULL,
  PRIMARY KEY (`Air_Craft_ID`,`Class`),
  CONSTRAINT `aircraft_class_ibfk_1` FOREIGN KEY (`Air_Craft_ID`) REFERENCES `air_craft` (`Air_Craft_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `Email` varchar(100) NOT NULL,
  `Full_Name_Eng` varchar(100) NOT NULL,
  PRIMARY KEY (`Email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `ID` varchar(20) NOT NULL,
  `Full_Name_Heb` varchar(100) NOT NULL,
  `Phone_num` varchar(20) DEFAULT NULL,
  `Start_Work_Date` date NOT NULL,
  `Role` enum('Pilot','Flight_Attendant','Manager') NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `flight`
--

DROP TABLE IF EXISTS `flight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight` (
  `Air_Craft_ID` varchar(20) NOT NULL,
  `Dep_Date` date NOT NULL,
  `Dep_Hour` time NOT NULL,
  `Route_ID` int NOT NULL,
  `Arrival_Date` date DEFAULT NULL,
  `Arrival_Time` time DEFAULT NULL,
  `Economy_Price` decimal(10,2) NOT NULL,
  `Business_Price` decimal(10,2) NOT NULL,
  `Status` enum('Scheduled','Departed','Canceled','Completed') NOT NULL,
  PRIMARY KEY (`Air_Craft_ID`,`Dep_Date`,`Dep_Hour`),
  KEY `Route_ID` (`Route_ID`),
  CONSTRAINT `flight_ibfk_1` FOREIGN KEY (`Air_Craft_ID`) REFERENCES `air_craft` (`Air_Craft_ID`),
  CONSTRAINT `flight_ibfk_2` FOREIGN KEY (`Route_ID`) REFERENCES `route` (`Route_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `flight_attendent`
--

DROP TABLE IF EXISTS `flight_attendent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_attendent` (
  `ID` varchar(20) NOT NULL,
  `Long_Dist_Training` tinyint(1) NOT NULL,
  PRIMARY KEY (`ID`),
  CONSTRAINT `flight_attendent_ibfk_1` FOREIGN KEY (`ID`) REFERENCES `employee` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `flight_crew`
--

DROP TABLE IF EXISTS `flight_crew`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_crew` (
  `ID` varchar(20) NOT NULL,
  `Air_Craft_ID` varchar(20) NOT NULL,
  `Dep_Date` date NOT NULL,
  `Dep_Hour` time NOT NULL,
  `Role` enum('Pilot','Flight_Attendant') NOT NULL,
  PRIMARY KEY (`ID`,`Air_Craft_ID`,`Dep_Date`,`Dep_Hour`),
  KEY `Air_Craft_ID` (`Air_Craft_ID`,`Dep_Date`,`Dep_Hour`),
  CONSTRAINT `flight_crew_ibfk_1` FOREIGN KEY (`ID`) REFERENCES `employee` (`ID`),
  CONSTRAINT `flight_crew_ibfk_2` FOREIGN KEY (`Air_Craft_ID`, `Dep_Date`, `Dep_Hour`) REFERENCES `flight` (`Air_Craft_ID`, `Dep_Date`, `Dep_Hour`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `flight_order`
--

DROP TABLE IF EXISTS `flight_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_order` (
  `Order_ID` int NOT NULL AUTO_INCREMENT,
  `Email` varchar(100) NOT NULL,
  `Order_Date` date NOT NULL,
  `Order_status` enum('Active','Completed','Customer_Canceled','System_Canceled') NOT NULL,
  `Total_Paid` decimal(10,2) NOT NULL,
  PRIMARY KEY (`Order_ID`),
  KEY `Email` (`Email`),
  CONSTRAINT `flight_order_ibfk_1` FOREIGN KEY (`Email`) REFERENCES `customer` (`Email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manager`
--

DROP TABLE IF EXISTS `manager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manager` (
  `ID` varchar(20) NOT NULL,
  `Login_pass` varchar(100) NOT NULL,
  PRIMARY KEY (`ID`),
  CONSTRAINT `manager_ibfk_1` FOREIGN KEY (`ID`) REFERENCES `employee` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `phone_numbers`
--

DROP TABLE IF EXISTS `phone_numbers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phone_numbers` (
  `Cust_Email` varchar(100) NOT NULL,
  `Phone_num` varchar(20) NOT NULL,
  PRIMARY KEY (`Cust_Email`,`Phone_num`),
  CONSTRAINT `phone_numbers_ibfk_1` FOREIGN KEY (`Cust_Email`) REFERENCES `customer` (`Email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pilot`
--

DROP TABLE IF EXISTS `pilot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pilot` (
  `ID` varchar(20) NOT NULL,
  `Long_Dist_Training` tinyint(1) NOT NULL,
  PRIMARY KEY (`ID`),
  CONSTRAINT `pilot_ibfk_1` FOREIGN KEY (`ID`) REFERENCES `employee` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `registered_customer`
--

DROP TABLE IF EXISTS `registered_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registered_customer` (
  `Email` varchar(100) NOT NULL,
  `Passport_Num` varchar(20) NOT NULL,
  `Birth_Date` date NOT NULL,
  `Joining_Date` date NOT NULL,
  `Password` varchar(100) NOT NULL,
  PRIMARY KEY (`Email`),
  CONSTRAINT `registered_customer_ibfk_1` FOREIGN KEY (`Email`) REFERENCES `customer` (`Email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `route`
--

DROP TABLE IF EXISTS `route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `route` (
  `Route_ID` int NOT NULL AUTO_INCREMENT,
  `Origin` varchar(50) NOT NULL,
  `Destination` varchar(50) NOT NULL,
  `Duration` decimal(5,2) NOT NULL,
  PRIMARY KEY (`Route_ID`),
  UNIQUE KEY `Origin` (`Origin`,`Destination`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `Order_ID` int NOT NULL,
  `Air_Craft_ID` varchar(20) NOT NULL,
  `Dep_Date` date NOT NULL,
  `Dep_Hour` time NOT NULL,
  `Chosen_Row_Num` int NOT NULL,
  `Chosen_Col_Num` int NOT NULL,
  `Price_Paid` decimal(10,2) NOT NULL,
  PRIMARY KEY (`Air_Craft_ID`,`Dep_Date`,`Dep_Hour`,`Chosen_Row_Num`,`Chosen_Col_Num`),
  KEY `Order_ID` (`Order_ID`),
  CONSTRAINT `tickets_ibfk_1` FOREIGN KEY (`Order_ID`) REFERENCES `flight_order` (`Order_ID`),
  CONSTRAINT `tickets_ibfk_2` FOREIGN KEY (`Air_Craft_ID`, `Dep_Date`, `Dep_Hour`) REFERENCES `flight` (`Air_Craft_ID`, `Dep_Date`, `Dep_Hour`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS route;
CREATE TABLE route (Route_ID INT PRIMARY KEY, Origin VARCHAR(255), Destination VARCHAR(255), Duration DECIMAL(5,2));
INSERT INTO route (Route_ID, Origin, Destination, Duration) VALUES
(29, 'תל אביב', 'אתונה', 2.00), (30, 'תל אביב', 'ניו יורק', 11.00), (31, 'תל אביב', 'טוקיו', 13.50),
(32, 'אתונה', 'תל אביב', 2.00), (33, 'אתונה', 'ניו יורק', 10.50), (34, 'אתונה', 'טוקיו', 13.00),
(35, 'ניו יורק', 'תל אביב', 11.00), (36, 'ניו יורק', 'אתונה', 10.50), (37, 'ניו יורק', 'טוקיו', 14.00), (38, 'טוקיו', 'תל אביב', 13.50);



INSERT INTO pilot (ID, Long_Dist_Training) VALUES ('P01',1),('P02',1),('P03',1),('P04',1),('P05',1),('P06',0),('P07',0),('P08',0),('P09',0),('P10',0);
INSERT INTO flight_attendent (ID, Long_Dist_Training) VALUES ('A01',1),('A02',1),('A03',1),('A04',1),('A05',1),('A06',1),('A07',1),('A08',1),('A09',1),('A10',1),
('A11',0),('A12',0),('A13',0),('A14',0),('A15',0),('A16',0),('A17',0),('A18',0),('A19',0),('A20',0);

INSERT INTO manager (ID, Login_pass) VALUES ('111', '123456');

INSERT INTO air_craft (Air_Craft_ID, Purchase_Date, Manufacturer, Size) VALUES
('AC01', '2015-05-20', 'Boeing', 'Large'), ('AC02', '2018-10-12', 'Airbus', 'Small'),
('AC03', '2020-01-01', 'Boeing', 'Large'), ('AC04', '2019-03-15', 'Dassault', 'Small'),
('AC05', '2021-06-30', 'Airbus', 'Large'), ('AC06', '2017-08-22', 'Boeing', 'Small');

INSERT INTO aircraft_class (Air_Craft_ID, Class, Row_Num, Col_Num) VALUES 
('AC01','Economy',30,6),('AC01','Business',5,4),
('AC03','Economy',30,6),('AC03','Business',5,4),
('AC05','Economy',30,6),('AC05','Business',5,4),
('AC02','Economy',15,4),
('AC04','Economy',15,4),
('AC06','Economy',15,4);

INSERT INTO customer (Email, Full_Name_Eng) VALUES ('yoni@gmail.com', 'Yonatan Hugi'), ('stav@gmail.com', 'Stav Ben Avraham');
INSERT INTO registered_customer (Email, Passport_Num, Birth_Date, Joining_Date, Password) VALUES
('yoni@gmail.com', 'P1234567', '1995-01-01', '2026-01-10', '123456'),
('stav@gmail.com', 'P7654321', '1996-01-01', '2026-01-10', '123456');

INSERT INTO phone_numbers (Cust_Email, Phone_num) VALUES ('yoni@gmail.com', '054-0000001'), ('stav@gmail.com', '054-0000002');

SET FOREIGN_KEY_CHECKS = 1;