<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title> אישור הזמנה</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <main class="home">

    <section class="brand">
      <img class="logo" src="/static/logo.png" alt="FLYTAU Logo">
    </section>

    <section class="card">
      <h3 class="title">שלום, {{ name }}<br> הזמנתך בוצעה בהצלחה! <br> מספר ההזמנה הוא {{ orderid }}</h3>

    </section>

      <div class="home-actions">
      <a href="/search_order_flights" class="btn btn-secondary">
        חזרה לחיפוש טיסות
      </a>
    </div>
  </main>
</body>
</html>
