<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FLYTAU - בחירת צוות ומטוס לטיסה</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <main class="home">

    <section class="brand">
      <img class="logo" src="/static/logo.png" alt="FLYTAU Logo">
    </section>

    <section class="card">
      <h3 class="title">שלום, {{ session['namemgr'] }}</h3>

      <nav class="admin-menu">
        <a href="/homemgr/flights" class="admin-link">חיפוש בלוח טיסות</a>
        <a href="/homemgr/addemployee" class="admin-link">הוספת אנשי צוות</a>
        <a href="/homemgr/addflight" class="admin-link active">הוספת טיסות</a>
        <a href="/admin/reports" class="admin-link">סטטיסטיקות ודוחות</a>
      </nav>


      {% if error %}
        <div class="error-message">{{ error }}</div>
      {% endif %}

      <form class="form" method="post" action="/homemgr/addflight/choosecrew">

        <div>
          <label class="label">
  בחר טייסים
          <span style="font-weight: normal; color:#666;">
    (יש לבחור {{ req_pilots }})
          </span>
          </label>
          <select class="input" name="pilot_ids" multiple required size="8">
            {% for p in available_pilots %}
              <option value="{{ p[0] }}">{{ p[0] }} - {{ p[1] }}</option>
            {% endfor %}
          </select>
          <div class="select-hint">
  לבחירה מרובה: החזק <span class="kbd">Ctrl</span> או <span class="kbd">Shift</span>
</div>
        </div>

        <div>
          <label class="label">
  בחר דיילים
  <span style="font-weight: normal; color:#666;">
    (יש לבחור {{ req_attendants }})
  </span>
</label>

          <select class="input" name="attendant_ids" multiple required size="10">
            {% for a in available_attendants %}
              <option value="{{ a[0] }}">{{ a[0] }} - {{ a[1] }}</option>
            {% endfor %}
          </select>
          <div class="select-hint">
  לבחירה מרובה: החזק <span class="kbd">Ctrl</span> או <span class="kbd">Shift</span>
</div>
        </div>

        <button class="primary" type="submit">
          אשר ושבץ לטיסה
        </button>

      </form>

    </section>
    <div class="home-actions">
      <a href="/logout" class="btn btn-secondary">
        התנתק מהמערכת
      </a>
    </div>

  </main>
</body>
</html>
