<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>בחירת מושבים</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
<main class="home">
  <section class="brand">
    <img class="logo" src="/static/logo.png" alt="FLYTAU Logo">
  </section>

  <section class="card">
    <h2 class="title">שלום, {{ name }}!</h2>
          {% if error %}
          <div class="error-message">
              {{error}}
          </div>
      {% endif %}
    <p class="subtitle">מלא פרטי נוסע</p>
      <form class="form" method="post" action="/guest_details">
      <div>
        <label class="label" for="fullName">שם מלא באנגלית</label>
        <input class="input" type="text" name="fullname" id="fullName" required>
      </div>

      <div>
        <label class="label" for="email">כתובת מייל</label>
        <input class="input" type="email" name="email" id="email" placeholder="example@mail.com" required>
      </div>

      <div>
        <label class="label" for="passport">מספר דרכון</label>
        <input class="input" type="text" name="passport" id="passport" required>
      </div>

      <div>
        <label class="label" for="dob">תאריך לידה</label>
        <input class="input" type="date" max="{{ today }}" id="dob" name="dob" required>
      </div>

      <div>
        <label class="label" for="phone_nums">כמות מספרי הטלפון ליצירת קשר</label>
        <input class="input" type="number" min="1" id="phone_nums" name="phone_nums" required>
      </div>
      <button type="submit" class="primary">המשך</button>

    </form>
  </section>
        <div class="home-actions">
      <a href="/logout" class="btn btn-secondary">
        {% if name == 'guest' %}
        התחבר או הירשם כאן!
        {% else %}
      התנתק מהמערכת
      {% endif %}
      </a>
    </div>
</main>
</body>
</html>
